/*  LIGHT THEME (default theme) */
:root {
  /* Backgrounds */
  --color-background: #f2e8cf;
  --color-box: #d9c6a3;

  /* Text */
  --color-text-primary: #3e3a34;
  --color-text-light: #f9f5eb;

  /* Titles & Headers */
  --color-title: #4f6f52;
  --color-header: #7a9e7e;

  /* Borders & Accents */
  --color-border: #8b6f47;
  --color-highlight: #5f7c8a;

  /* Fonts */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Roboto", sans-serif;
}

/*  DARK THEME */
.dark {
  /* Backgrounds */
  --color-background: #2e2a25;
  --color-box: #3f362d;

  /* Text */
  --color-text-primary: #e6ddc6;

  /* Titles & Headers */
  --color-title: #7a9e7e;
  --color-header: #a3b18a;

  /* Borders & Accents */
  --color-border: #a68a64;
  --color-highlight: #7d9aa8;
}

/* transition for theme changing */
body {
  transition: background-color 0.3s, ease, color 0.3s, ease;
  background-color: var(--color-background);
  font-family: var(--font-secondary);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Title centered */
/* Container (layout only) */
.title {
  width: 100%;
  background-color: var(--color-box);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  margin: 0;
}

/* H1 (text styling only) */
.title h1 {
  font-family: var(--font-primary);
  font-size: 150px;
  padding: 20px;
  color: var(--color-title);

  margin: 0;
}
.theme-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: var(--color-highlight);
  color: var(--color-text-light);
  border: none;
  cursor: pointer;

  /* smooth transition */
  transition: all 0.25s ease;
}

/* This is applied when hovered */
.theme-button:hover {
  background-color: var(--color-border);
  color: var(--color-text-light);
  cursor: pointer;

  /* smooth transition */
  transform: scale(1.15);
}
